* { 
    
    margin: 0;
    padding: 0;  
   
}



body {
    box-sizing: border-box;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: #000000;
}

@import './components/header';
@import './components/hero';
@import './components/main';

