:root {
    --bgc: #ededed;
    --pointSize: 10px;
    --lineBorderWidth: 4px;
    --lineStyle: var(--lineBorderWidth) solid #ccc;
    --lineHeight: -50px;
    --blockWidth: 150px;
    --blockHeight: 40px;
    --blockMargin: 24px;
    --p12: 18px;
  }
  *,
  *:after,
  *:before {
    box-sizing: border-box;
  }
  body {
    background-color: var(--bgc);
    font-family: arial;
  }
  
  .p-12 {
    padding: var(--p12);
  }
  .align-items-start {
    align-items: start !important;
  }
  .organogram {
    padding: var(--p12);
    cursor: pointer;
  }
  
  .organogram .row,
  .organogram .block,
  .organogram hr.half-square {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .organogram .block {
    border: 2px solid #333;
    padding: var(--p12);
    border-radius: var(--p12);
    max-width: var(--blockWidth);
    min-width: var(--blockWidth);
    min-height: var(--blockHeight);
    position: relative;
  }
  .organogram .block + .block {
    margin-left: var(--blockMargin);
  }
  .organogram hr {
    width: 90px;
    height: 0;
    border: none;
    border-bottom: var(--lineStyle);
    margin: 0;
    z-index: -1;
  }
  
  .organogram hr.half-square {
    border: var(--lineStyle);
    border-bottom: none;
    width: calc(2 * var(--blockWidth) + 2 * var(--blockMargin) + var(--lineBorderWidth));
    height: 20px;
    position: relative;
    overflow: visible;
  }

  .organogram hr.half-square:before {
    content: '';
    position: absolute;
    border-right: var(--lineStyle);
    min-height: calc(2 * var(--blockHeight) + 20 * var(--p12) + var(--lineHeight));
    bottom: 0;
  }
  
  .organogram .block:before,
  .organogram .block:after {
    background-color: var(--bgc);
    content: '';
    position: absolute;
    border-radius: 50%;
    width: calc(var(--pointSize) + 2px);
    height: calc(var(--pointSize) + 2px);
  }
  
  .organogram .block:after {
    width: var(--pointSize);
    height: var(--pointSize);
    border: 2px solid orange;
  }
  
  .organogram .block.pin-s:before,
  .organogram .block.pin-s:after {
    top: 50%;
    left: 0;
    transform: translate(calc(-50% - 1px), calc(-50%));
  }
  .organogram .block.pin-e:before,
  .organogram .block.pin-e:after {
    top: 50%;
    right: 0;
    transform: translate(calc(50% + 1px), calc(-50%));
  }
  .organogram .block.pin-t:before,
  .organogram .block.pin-t:after {
    top: 0;
    left: 50%;
    transform: translate(-50%, calc(-50% - 1px));
  }
  
  .organogram .block.pin-b:before,
  .organogram .block.pin-b:after {
    bottom: 0;
    left: 50%;
    transform: translate(calc(-50%), calc(50% + 1px));
  }


  datalist {
    display: none;
    text-decoration: none;
    list-style-type: none;
  }
  summary::marker {
    cursor: pointer;
    content: "";
  }

  details[open] summary::before {
    display: none;
  }

  .mt-1 {
    margin-top: 1rem;
  }

  .mt-2 {
    margin-top: 2rem;
  }

  .mb-1 {
    margin-bottom: 1rem;
  }

  .mb-2 {
    margin-bottom: 2rem;
  }

.organogram .half-primary {
  //border: var(--lineStyle);
  border-bottom: none;
  width: calc(2 * var(--blockWidth) + -1 * var(--blockMargin) + var(--lineBorderWidth));
  height: 20px;
  position: relative;
  //overflow: visible;
}

.organogram .half-primary:before {
  content: '';
    position: absolute;
    border-right: var(--lineStyle);
    min-height: calc(2 * var(--blockHeight) + 10 * var(--p12) + var(--lineHeight));
    bottom: 0;
}