body{
    margin: 0;
    padding: 0;
    height: 100vw;
}

table {
    width: 80%;
    border-collapse: collapse;
    border-spacing: 0;
}

th, td {
    border: 1px solid #000;
    text-align: center;
    padding: 10px;
}

th{
    background-color: #f4f4f4;
}

.calendario {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 20%;
    background-color: #f4f4f4;
    border-radius: 3px;
    box-shadow: 0px 2px 10px;
    margin: 10px auto 10px auto;
    position: relative;
    top: 60px;
    
}